atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
contextlib2==0.5.5
docopt==0.6.2
future==0.17.1
idna==2.8
jmespath==0.9.4
more-itertools==7.0.0
paho-mqtt==1.3.1
pbr==5.3.0
pluggy==0.12.0
py==1.8.0
PyJWT==1.7.1
pykwalify==1.7.0
pytest==4.6.3
python-box==3.4.1
python-dateutil==2.8.0
PyYAML==5.1.1
requests==2.22.0
six==1.12.0
stevedore==1.30.1
tavern==0.26.4
urllib3==1.25.3
